.Menu {
    text-align: center;
}
.Menu h1 {
    font-size: 5em;
    letter-spacing: 0.16em;
}

.grid-container {
    display: inline-grid;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    grid-template-columns: auto auto auto auto;

}

